* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

main{
    /* border: solid; */
    height: 600px;
    width: 1325px;
    margin: 60px auto;
    /* margin-left: 100px; */
    /* margin-top: 60px; */
    border-radius: 25px;
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    color: white;
    z-index: 10;
}


#video{
    height: 600px;
    width: 1325px;
    position: fixed;
    border-radius: 25px;
    object-fit: cover;
    z-index: -1;
}

#video-back {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -3;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 333px;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    /* border: solid; */
    height: 50px;
}

input{
    width: 250px;
    height: 30px;
    border: none;
    margin-right: 10px;
    border-radius: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

}

.datetime{
    display: flex;
    /* border: solid; */
    align-items: center;
    width: fit-content; 
    gap: 10px;
}

section{
    /* border: solid; */
    width: 100%;
    margin-top: 50px;
    height: 450px;
    display: flex;
    align-items: center;
}

section h1{
    font-size: 80px;
}

.temp{
    /* border: solid; */
    margin-top: 0px;
}

.temp h2{
    font-size: 100px;
}

/* Right side */

.art1{
    /* border: solid; */
    width: 999px;
    margin-left: 10px;
    margin-top: 0px;
    padding-left: 20px;
    height: 400px;
}

.art2{
    border: solid;
    border-color: white;
    border-width: 1px;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    height: 400px;
}

.div_right_up{
    /* display: flex; */
    justify-content: space-evenly;
    /* border: solid; */
}

.div_right_up div h3{
    font-size: 30px;
}

.r1 i, .r3 i{
    margin-top: 12px;
    font-size: 80px;
}

.right_left, .right_right{
    display: flex;
    gap: 20px;
    /* border: solid; */
    border-color: white;
    border-width: 1px;
    margin: 10px;
    border-radius: 20px;
    padding: 15px;
    /* background: rgba(255, 255, 255, 0.2); */
    backdrop-filter: blur(0px);
}

.right_bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid; */
    border-radius: 20px;
    border-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 1px;
    gap: 10px;
    padding: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background: rgba(255, 255, 255, 0.2); */
    backdrop-filter: blur(5px);
}